In [196]:
import pandas as pd

1. 使用 `melt()` 函数处理列名中有 value 的数据，做转置

In [197]:
df = pd.read_csv('../data/pew.csv')
df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [198]:
tidy_df = df.melt(id_vars=['religion'], var_name='income range', value_name='count')
tidy_df

                  religion        income range  count
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Don’t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [199]:
tidy_df.info

<bound method DataFrame.info of                   religion        income range  count
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Don’t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]>

2. 使用 `` 函数处理 NaN 等空数据

In [200]:
ebola = pd.read_csv('../data/country_timeseries.csv')
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
ebola_melt = ebola.melt(id_vars=['Date', 'Day'],
                        var_name='Country',
                        value_name='Case Value')
ebola_melt

            Date  Day       Country  Case Value
0       1/5/2015  289  Cases_Guinea      2776.0
1       1/4/2015  288  Cases_Guinea      2775.0
2       1/3/2015  287  Cases_Guinea      2769.0
3       1/2/2015  286  Cases_Guinea         NaN
4     12/31/2014  284  Cases_Guinea      2730.0
...          ...  ...           ...         ...
1947   3/27/2014    5   Deaths_Mali         NaN
1948   3/26/2014    4   Deaths_Mali         NaN
1949   3/25/2014    3   Deaths_Mali         NaN
1950   3/24/2014    2   Deaths_Mali         NaN
1951   3/22/2014    0   Deaths_Mali         NaN

[1952 rows x 4 columns]

In [202]:
ebola_melt['Country'].str.split('_')

0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
             ...
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: Country, Length: 1952, dtype: object

In [220]:
type(ebola_melt['Country'].str.split('_', expand=True))

pandas.core.frame.DataFrame

In [229]:
((ebola_melt['Country'].str.split('_')).str[0])

0        Cases
1        Cases
2        Cases
3        Cases
4        Cases
         ...
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: Country, Length: 1952, dtype: object

In [205]:
print(ebola_melt['Country'])

0       Cases_Guinea
1       Cases_Guinea
2       Cases_Guinea
3       Cases_Guinea
4       Cases_Guinea
            ...
1947     Deaths_Mali
1948     Deaths_Mali
1949     Deaths_Mali
1950     Deaths_Mali
1951     Deaths_Mali
Name: Country, Length: 1952, dtype: object

In [206]:
print(ebola_melt['Country'])

0       Cases_Guinea
1       Cases_Guinea
2       Cases_Guinea
3       Cases_Guinea
4       Cases_Guinea
            ...
1947     Deaths_Mali
1948     Deaths_Mali
1949     Deaths_Mali
1950     Deaths_Mali
1951     Deaths_Mali
Name: Country, Length: 1952, dtype: object

In [207]:
(ebola_melt['Country'].tolist())

['Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Guinea',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_Liberia',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_SierraLeone',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Nigeria',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_Senegal',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_UnitedStates',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Spain',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Cases_Mali',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 'Deaths_Guinea',
 ...]

In [208]:
pd.DataFrame((ebola_melt['Country'].tolist()))[0]

0       Cases_Guinea
1       Cases_Guinea
2       Cases_Guinea
3       Cases_Guinea
4       Cases_Guinea
            ...
1947     Deaths_Mali
1948     Deaths_Mali
1949     Deaths_Mali
1950     Deaths_Mali
1951     Deaths_Mali
Name: 0, Length: 1952, dtype: object

# Read HK Covid19 data

In [265]:
hk_covid = pd.read_csv('../data/result.csv')
hk_covid

,coordinates,district_name_en,building_name_en,date_of_the_last_case,district_name_cn,building_name_cn,first_reported_date,related_cases,case_num,Longitude,Latitude
0,"[114.18967533501, 22.3063142458094]",Kowloon City,"Block 1, Site 11, Whampoa Garden",2020-01-30 16:00:00,九龍城,黃埔花園第十一期一座,2020-01-30 16:00:00,13,1.0,114.189675,22.306314
1,"[114.172594691737, 22.2973563301821]",Yau Tsim Mong,"58 Nathan Road, Mirador Mansion",2020-01-31 16:00:00,油尖旺,彌敦道58號美麗都大廈,2020-01-31 16:00:00,非本地個案,1.0,114.172595,22.297356
2,"[114.234367756765, 22.3077945999409]",Kwun Tong,"Yue Hong House, Hong Tin Court",2020-02-03 16:00:00,觀塘,康田苑 裕康閣,2020-01-30 16:00:00,"19,20",2.0,114.234368,22.307795
3,"[114.186133853022, 22.3193907988263]",Kowloon City,"15 Celestial Heights, 80 Sheung Shing Street",2020-01-31 16:00:00,九龍城,常盛街80號半山壹號十五號,2020-01-31 16:00:00,16,1.0,114.186134,22.319391
4,"[114.187725632501, 22.3193997302724]",Kowloon City,183 Ma Tau Wai Road,2020-02-02 16:00:00,九龍城,馬頭圍道183號,2020-02-02 16:00:00,18,1.0,114.187726,22.319400
...,...,...,...,...,...,...,...,...,...,...,...
55658,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-04 16:00:00,NaN,NaN,2022-02-04 16:00:00,"14725,14751,14781,14808,14817,14830,14932,1493...",34.0,114.182553,22.325685
55659,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-05 16:00:00,NaN,NaN,2022-02-05 16:00:00,"15073,15076,15078,15083,15085,15087,15088,1509...",50.0,114.182553,22.325685
55660,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-05 16:00:00,NaN,NaN,2022-02-05 16:00:00,"15235,15237,15240,15242,15243,15245,15247,1524...",50.0,114.182553,22.325685
55661,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-05 16:00:00,NaN,NaN,2022-02-05 16:00:00,"15371,15373,15375,15377,15378,15379,15380,1538...",47.0,114.182553,22.325685
55662,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-01-27 16:00:00,NaN,NaN,2022-01-27 16:00:00,97074,1.0,114.182553,22.325685

In [309]:
import time
start = time.time()
hk_covid[['lang', 'lati']] = (hk_covid['coordinates'].str.strip('[] ').str.split(',', expand=True))
end = time.time()
print("data consuming is ", end - start)
hk_covid

data consuming is  0.11300158500671387

,coordinates,district_name_en,building_name_en,date_of_the_last_case,district_name_cn,building_name_cn,first_reported_date,related_cases,case_num,Longitude,Latitude,lang,lati
0,"[114.18967533501, 22.3063142458094]",Kowloon City,"Block 1, Site 11, Whampoa Garden",2020-01-30 16:00:00,九龍城,黃埔花園第十一期一座,2020-01-30 16:00:00,13,1.0,114.189675,22.306314,114.18967533501,22.3063142458094
1,"[114.172594691737, 22.2973563301821]",Yau Tsim Mong,"58 Nathan Road, Mirador Mansion",2020-01-31 16:00:00,油尖旺,彌敦道58號美麗都大廈,2020-01-31 16:00:00,非本地個案,1.0,114.172595,22.297356,114.172594691737,22.2973563301821
2,"[114.234367756765, 22.3077945999409]",Kwun Tong,"Yue Hong House, Hong Tin Court",2020-02-03 16:00:00,觀塘,康田苑 裕康閣,2020-01-30 16:00:00,"19,20",2.0,114.234368,22.307795,114.234367756765,22.3077945999409
3,"[114.186133853022, 22.3193907988263]",Kowloon City,"15 Celestial Heights, 80 Sheung Shing Street",2020-01-31 16:00:00,九龍城,常盛街80號半山壹號十五號,2020-01-31 16:00:00,16,1.0,114.186134,22.319391,114.186133853022,22.3193907988263
4,"[114.187725632501, 22.3193997302724]",Kowloon City,183 Ma Tau Wai Road,2020-02-02 16:00:00,九龍城,馬頭圍道183號,2020-02-02 16:00:00,18,1.0,114.187726,22.319400,114.187725632501,22.3193997302724
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55658,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-04 16:00:00,NaN,NaN,2022-02-04 16:00:00,"14725,14751,14781,14808,14817,14830,14932,1493...",34.0,114.182553,22.325685,114.182552607391,22.325685286671
55659,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-05 16:00:00,NaN,NaN,2022-02-05 16:00:00,"15073,15076,15078,15083,15085,15087,15088,1509...",50.0,114.182553,22.325685,114.182552607391,22.325685286671
55660,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-05 16:00:00,NaN,NaN,2022-02-05 16:00:00,"15235,15237,15240,15242,15243,15245,15247,1524...",50.0,114.182553,22.325685,114.182552607391,22.325685286671
55661,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-05 16:00:00,NaN,NaN,2022-02-05 16:00:00,"15371,15373,15375,15377,15378,15379,15380,1538...",47.0,114.182553,22.325685,114.182552607391,22.325685286671
55662,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-01-27 16:00:00,NaN,NaN,2022-01-27 16:00:00,97074,1.0,114.182553,22.325685,114.182552607391,22.325685286671

In [310]:
start = time.time()
hk_covid[['lang', 'lati']] = pd.DataFrame(hk_covid['coordinates'].str.strip('[] ').str.split(', ').tolist())
end = time.time()
print("data consuming is ", end - start)
hk_covid

data consuming is  0.08600330352783203

,coordinates,district_name_en,building_name_en,date_of_the_last_case,district_name_cn,building_name_cn,first_reported_date,related_cases,case_num,Longitude,Latitude,lang,lati
0,"[114.18967533501, 22.3063142458094]",Kowloon City,"Block 1, Site 11, Whampoa Garden",2020-01-30 16:00:00,九龍城,黃埔花園第十一期一座,2020-01-30 16:00:00,13,1.0,114.189675,22.306314,114.18967533501,22.3063142458094
1,"[114.172594691737, 22.2973563301821]",Yau Tsim Mong,"58 Nathan Road, Mirador Mansion",2020-01-31 16:00:00,油尖旺,彌敦道58號美麗都大廈,2020-01-31 16:00:00,非本地個案,1.0,114.172595,22.297356,114.172594691737,22.2973563301821
2,"[114.234367756765, 22.3077945999409]",Kwun Tong,"Yue Hong House, Hong Tin Court",2020-02-03 16:00:00,觀塘,康田苑 裕康閣,2020-01-30 16:00:00,"19,20",2.0,114.234368,22.307795,114.234367756765,22.3077945999409
3,"[114.186133853022, 22.3193907988263]",Kowloon City,"15 Celestial Heights, 80 Sheung Shing Street",2020-01-31 16:00:00,九龍城,常盛街80號半山壹號十五號,2020-01-31 16:00:00,16,1.0,114.186134,22.319391,114.186133853022,22.3193907988263
4,"[114.187725632501, 22.3193997302724]",Kowloon City,183 Ma Tau Wai Road,2020-02-02 16:00:00,九龍城,馬頭圍道183號,2020-02-02 16:00:00,18,1.0,114.187726,22.319400,114.187725632501,22.3193997302724
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55658,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-04 16:00:00,NaN,NaN,2022-02-04 16:00:00,"14725,14751,14781,14808,14817,14830,14932,1493...",34.0,114.182553,22.325685,114.182552607391,22.325685286671
55659,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-05 16:00:00,NaN,NaN,2022-02-05 16:00:00,"15073,15076,15078,15083,15085,15087,15088,1509...",50.0,114.182553,22.325685,114.182552607391,22.325685286671
55660,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-05 16:00:00,NaN,NaN,2022-02-05 16:00:00,"15235,15237,15240,15242,15243,15245,15247,1524...",50.0,114.182553,22.325685,114.182552607391,22.325685286671
55661,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-05 16:00:00,NaN,NaN,2022-02-05 16:00:00,"15371,15373,15375,15377,15378,15379,15380,1538...",47.0,114.182553,22.325685,114.182552607391,22.325685286671
55662,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-01-27 16:00:00,NaN,NaN,2022-01-27 16:00:00,97074,1.0,114.182553,22.325685,114.182552607391,22.325685286671

In [311]:
start = time.time()
hk_covid[['lang', 'lati']] = (hk_covid['coordinates'].str.strip('[] ').str.split(', ').apply(lambda x: pd.Series(x)))
end = time.time()
print("data consuming is ", end - start)
hk_covid

data consuming is  8.194099187850952

,coordinates,district_name_en,building_name_en,date_of_the_last_case,district_name_cn,building_name_cn,first_reported_date,related_cases,case_num,Longitude,Latitude,lang,lati
0,"[114.18967533501, 22.3063142458094]",Kowloon City,"Block 1, Site 11, Whampoa Garden",2020-01-30 16:00:00,九龍城,黃埔花園第十一期一座,2020-01-30 16:00:00,13,1.0,114.189675,22.306314,114.18967533501,22.3063142458094
1,"[114.172594691737, 22.2973563301821]",Yau Tsim Mong,"58 Nathan Road, Mirador Mansion",2020-01-31 16:00:00,油尖旺,彌敦道58號美麗都大廈,2020-01-31 16:00:00,非本地個案,1.0,114.172595,22.297356,114.172594691737,22.2973563301821
2,"[114.234367756765, 22.3077945999409]",Kwun Tong,"Yue Hong House, Hong Tin Court",2020-02-03 16:00:00,觀塘,康田苑 裕康閣,2020-01-30 16:00:00,"19,20",2.0,114.234368,22.307795,114.234367756765,22.3077945999409
3,"[114.186133853022, 22.3193907988263]",Kowloon City,"15 Celestial Heights, 80 Sheung Shing Street",2020-01-31 16:00:00,九龍城,常盛街80號半山壹號十五號,2020-01-31 16:00:00,16,1.0,114.186134,22.319391,114.186133853022,22.3193907988263
4,"[114.187725632501, 22.3193997302724]",Kowloon City,183 Ma Tau Wai Road,2020-02-02 16:00:00,九龍城,馬頭圍道183號,2020-02-02 16:00:00,18,1.0,114.187726,22.319400,114.187725632501,22.3193997302724
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55658,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-04 16:00:00,NaN,NaN,2022-02-04 16:00:00,"14725,14751,14781,14808,14817,14830,14932,1493...",34.0,114.182553,22.325685,114.182552607391,22.325685286671
55659,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-05 16:00:00,NaN,NaN,2022-02-05 16:00:00,"15073,15076,15078,15083,15085,15087,15088,1509...",50.0,114.182553,22.325685,114.182552607391,22.325685286671
55660,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-05 16:00:00,NaN,NaN,2022-02-05 16:00:00,"15235,15237,15240,15242,15243,15245,15247,1524...",50.0,114.182553,22.325685,114.182552607391,22.325685286671
55661,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-02-05 16:00:00,NaN,NaN,2022-02-05 16:00:00,"15371,15373,15375,15377,15378,15379,15380,1538...",47.0,114.182553,22.325685,114.182552607391,22.325685286671
55662,"[114.182552607391, 22.325685286671]",NaN,NaN,2022-01-27 16:00:00,NaN,NaN,2022-01-27 16:00:00,97074,1.0,114.182553,22.325685,114.182552607391,22.325685286671

3. Do calculation by using pivot

In [212]:
weather = pd.read_csv('../data/weather.csv')
weather

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [213]:
weather_melt = weather.melt(id_vars=['id', 'year', 'month', 'element'],
                            var_name='day',
                            value_name='temperature')
weather_melt

          id  year  month element  day  temperature
0    MX17004  2010      1    tmax   d1          NaN
1    MX17004  2010      1    tmin   d1          NaN
2    MX17004  2010      2    tmax   d1          NaN
3    MX17004  2010      2    tmin   d1          NaN
4    MX17004  2010      3    tmax   d1          NaN
..       ...   ...    ...     ...  ...          ...
677  MX17004  2010     10    tmin  d31          NaN
678  MX17004  2010     11    tmax  d31          NaN
679  MX17004  2010     11    tmin  d31          NaN
680  MX17004  2010     12    tmax  d31          NaN
681  MX17004  2010     12    tmin  d31          NaN

[682 rows x 6 columns]

In [214]:
weather_melt = weather_melt.append({'id': 'MX14004', 'year': 2010, 'month': 2, 'element': 'tmax', 'day': 'd1', 'temperature': 23.2},
                    ignore_index=True)
weather_melt.loc[(weather_melt['year'] == 2010) & (weather_melt['month'] == 2) & (weather_melt['day'] == 'd1')]

          id  year  month element day  temperature
2    MX17004  2010      2    tmax  d1          NaN
3    MX17004  2010      2    tmin  d1          NaN
682  MX14004  2010      2    tmax  d1         23.2

In [230]:
weather_pivot = weather_melt.pivot_table(index=['id', 'year', 'month', 'day'],
                                         columns='element',
                                         values='temperature',
                                         dropna=True,
                                         aggfunc='max')
weather_pivot.reset_index()

element       id  year  month  day  tmax  tmin
0        MX14004  2010      2   d1  23.2   NaN
1        MX17004  2010      1  d30  27.8  14.5
2        MX17004  2010      2  d11  29.7  13.4
3        MX17004  2010      2   d2  27.3  14.4
4        MX17004  2010      2  d23  29.9  10.7
5        MX17004  2010      2   d3  24.1  14.4
6        MX17004  2010      3  d10  34.5  16.8
7        MX17004  2010      3  d16  31.1  17.6
8        MX17004  2010      3   d5  32.1  14.2
9        MX17004  2010      4  d27  36.3  16.7
10       MX17004  2010      5  d27  33.2  18.2
11       MX17004  2010      6  d17  28.0  17.5
12       MX17004  2010      6  d29  30.1  18.0
13       MX17004  2010      7   d3  28.6  17.5
14       MX17004  2010      7  d14  29.9  16.5
15       MX17004  2010      8  d23  26.4  15.0
16       MX17004  2010      8   d5  29.6  15.8
17       MX17004  2010      8  d29  28.0  15.3
18       MX17004  2010      8  d13  29.8  16.5
19       MX17004  2010      8  d25  29.7  15.6
20       MX17004  2010      8  d31  25.4  15.4
21       MX17004  2010      8   d8  29.0  17.3
22       MX17004  2010     10   d5  27.0  14.0
23       MX17004  2010     10  d14  29.5  13.0
24       MX17004  2010     10  d15  28.7  10.5
25       MX17004  2010     10  d28  31.2  15.0
26       MX17004  2010     10   d7  28.1  12.9
27       MX17004  2010     11   d2  31.3  16.3
28       MX17004  2010     11   d5  26.3   7.9
29       MX17004  2010     11  d27  27.7  14.2
30       MX17004  2010     11  d26  28.1  12.1
31       MX17004  2010     11   d4  27.2  12.0
32       MX17004  2010     12   d1  29.9  13.8
33       MX17004  2010     12   d6  27.8  10.5

In [247]:
s = pd.Series(["A_Str_Series", "he_is_a_hero"])
s

0    A_Str_Series
1    he_is_a_hero
dtype: object

AttributeError: 'Series' object has no attribute 'upper'